# Environment Variables Example

DATABASE_URL="postgresql://user:password@ep-xxxx-xxxx.region.aws.neon.tech/neondb?sslmode=require"

# User Secret Access Keys
USER_1_ACCESS_KEY="enter_unique_secret_string_for_user_1"
USER_2_ACCESS_KEY="enter_unique_secret_string_for_user_2"

# JWT Session Secret
SESSION_SECRET="enter_32_byte_random_string_here"
